$blue-shade-0: #F0F7FA
$blue-shade-2: #688494
$blue-shade-3: #0D6394
$blue-shade-4: #063047
$blue-shade-5: #010F34
$blue-shade-6: #1F2432
$red: #B63939
$green: #95BE49
$orange: #D7903B

//TEMP - HIDE LANGUAGE SELECTOR
.wpml-ls
  //@apply hidden

:root
  --swiper-navigation-size: 24px
  --swiper-theme-color: #0D6394

::-moz-selection
  @apply bg-blue-shade-0 text-blue-shade-4

::selection
  @apply bg-blue-shade-0 text-blue-shade-4

//reCaptcha hide badge
.grecaptcha-badge
  @apply invisible

body
  text-rendering: optimizelegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: DM Sans, sans-serif
  //@apply transition-all duration-300 ease-in-out
  height: auto

.ds-transition
  &--default
    @apply transition-all duration-300 ease-in-out

html.lenis,
html.lenis body
  height: auto

.lenis.lenis-smooth
  scroll-behavior: auto

.lenis.lenis-smooth [data-lenis-prevent]
  overscroll-behavior: contain

.lenis.lenis-stopped
  overflow: hidden

.lenis.lenis-scrolling iframe
  pointer-events: none

.theme-container
  @apply w-full max-w-[1222px] px-4 md:px-9 xl:px-0 mx-auto

.theme-container-width
  @apply xl:max-w-[1220px]

.theme-grid
  @apply grid grid-cols-2 md:grid-cols-6 xl:grid-cols-12 gap-x-6

body:not(.home) main.main-content
  @apply bg-blue-shade-0

.page-template-page-design-system
  main.main-content
    @apply bg-white

.fancybox
  &__backdrop
    @apply bg-[#0a161eed]

.skip-link
  @apply hidden lg:inline-flex absolute top-[-100%] left-0 z-[9999] font-dm font-bold text-xs md:text-sm leading-6 uppercase py-[0.7rem] xl:py-4 px-7 rounded-[0.625rem] transition-all duration-300 ease-in-out text-blue-shade-0 bg-blue-shade-3 lg:pl-9
  &:focus
    @apply top-4
