.footer-main
  height: 300px
  background-color: $blue-shade-4

  #footer-menu
    .menu-item
        @apply py-2 max-h-[300px]
        a
          @apply hover:text-blue-shade-2 hover:tracking-[0.04rem] 
          transition: color .2s, letter-spacing .4s ease-out
          color: $blue-shade-0
    
  .contact-section
    p
      color: $blue-shade-0


.footer-menu
  display: flex
  flex-direction: column
  flex-wrap: wrap
  max-width: 500px
  max-height: 200px

.footer-menu
  li
    flex: 1 1 100%

.footer-menu
  li:nth-child(n+6)
    flex: 1 1 50%

.social-links
  margin-top: 1rem
  display: flex
  gap: 9px
  a
    @apply p-4 bg-blue-shade-6 rounded-md

.testimonials-card
  background-color: white
  border-radius: 20px
  width: 500px
  position: relative
  clip-path: polygon(40px 0,100% 0,100% calc(100% - 40px),calc(100% - 40px) 100%,0 100%,0 40px)

  
@media ( max-width: 768px )
  .footer-main
    .top-logo-footer 
      max-height: 220px
