.section-hero
  &--wrapper
    @apply grid h-dvh overflow-hidden
    grid-template-areas: 'image' 'overlay' 'content'
  &--overlay
    @apply mix-blend-multiply bg-[#453d3bcc]
    grid-area: overlay
    grid-row: image / content-end
    grid-column: 1 / -1
  &--img
    grid-area: image
    grid-row: image / content-end
    grid-column: 1 / -1
  &--content
    grid-area: content
    grid-row: image / content-end
    grid-column: 1 / -1


.section-intro
  .highlights-items
    @apply flex flex-col gap-y-4
    li
      @apply font-poppins font-normal text-base text-blue-shade-3 tracking-[2.56px] uppercase
  .intro-images-wrapper
    .intro-image
      &:nth-child(1)
        @apply z-40
      &:nth-child(2)
        @apply z-30 translate-x-1/2
      &:nth-child(3)
        @apply z-20 translate-x-full
      &:nth-child(4)
        @apply z-10 translate-x-[150%]
      &:nth-child(5)
        @apply z-0 translate-x-[200%]

.section-room-teaser
  &--wrapper
    @apply grid gap-x-6
    grid-template-areas: 'content' 'image'
    grid-template-columns: repeat(12, 1fr)
    .room-content
      grid-area: content
      grid-row: content / image
      grid-column: 1 / 6
      align-self: center
    .room-image
      grid-area: image
      grid-row: content / image
      grid-column: 3 / -1

.section-services
  .service-box
    @apply flex flex-col justify-center items-center transition-[width] duration-[.8s] ease-in-out w-1/3 p-10 relative
    height: calc( 100svh - 150px )
    &::after
      content: ''
      z-index: 1
      @apply block absolute left-0 top-0 w-full h-full mix-blend-multiply bg-[#453d3bcc]
    p
      @apply opacity-0 transition-all duration-1000 max-w-96
    &:hover
      @apply w-2/5
      p
        @apply opacity-100